html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
 text-decoration: inherit;
 color: inherit;
 background-color: transparent;
 word-wrap: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}


body {
  height: 100%;
  min-width: 800px;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  background-color: #aaa;
  min-height: 1000px;
  background-color: #272A2B;
}

#canvas {
  display: block;
  margin: auto;
  border: 1px solid #eee;
  width: 700px;
  height: 450px;
  margin-top: 75px;
  background-image: url(background.png);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hide {
  display: none;
}

#lost-message {
  position: relative;
  bottom: 355px;
  color: red;
  font-weight: bold;
  font-size: 32px;
}

#won-message {
  position: relative;
  bottom: 355px;
  color: #66FF00;
  font-weight: bold;
  font-size: 32px;
}


#play-again {
  position: relative;
  color: white;
  font-size: 20px;
  font-weight: bold;
  bottom: 480px;
  display: block;
  margin: auto;
  position: relative;
  padding-top: 158px;
}

#new-game-button {
  padding: 20px;
  position: absolute;
  background-color: #b30000;
  color: #fff;
  top: 155px;
  left: calc(50% + 10px);
  display: inline-block;
  margin: auto;
  border-radius: 3px;
}

#new-game-button:hover {
  cursor: pointer;
  background-color: #800000;
}

#play-again:hover {
  cursor: default;
}

#score {
  color: white;
  font-size: 24px;
  position: relative;
  bottom: 440px;
  right: 275px;
}

form {
  position: relative;
  font-size: 18px;
  top: 50px;
  width: 220px;
  height: 150px;
  left: calc(50% - 320px);
  text-align: center;
  background-color: #aaa;
  border-radius: 3px;
  border: 1px solid #eee;
}

h3 {
  position: absolute;
  top: 70px;
  left: 5px;
}

#survival {
  position: absolute;
  top: 41px;
  left: 78px;
}

#survival-label {
  position: absolute;
  top: 40px;
  left: 10px;
}

#classic-label {
  position: absolute;
  top: 40px;
  left: 130px;
}

#classic {
  position: absolute;
  top: 41px;
  left: 190px;
}

h1 {
  font-size: 50px;
  color: white;
}
