html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
 text-decoration: inherit;
 color: inherit;
 background-color: transparent;
 word-wrap: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}


body {
  height: 100%;
  min-width: 800px;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  background-color: #aaa;
}

#canvas {
  display: inline;
  margin-top: 150px;
  background-image: url(background.png);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hide {
  display: none;
}

#lost-message {
  position: relative;
  bottom: 350px;
  color: red;
  font-weight: bold;
  font-size: 24px;
}

#won-message {
  position: relative;
  bottom: 350px;
  color: #66FF00;
  font-weight: bold;
  font-size: 24px;
}
#new-game-button {
  padding: 20px;
  position: absolute;
  background-color: #b30000;
  color: #fff;
  top: 75px;
  left: calc(50% - 75px);
  display: inline-block;
  margin: auto;
  border-radius: 3px;
}

#new-game-button:hover {
  cursor: pointer;
  background-color: #800000;
}

#play-again {
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: auto;
  bottom: 482px;
  position: relative;
  padding-top: 158px;
}

#play-again:hover {
  cursor: default;
}
